
QWidget {
    background-color: #292929;
    color: white;
}
QPushButton {
    font-size: 16px;
}

QPushButton#roronoe {

    background-color: #41EAD4;
    color: #0C0F0A;

}

QPushButton#regex {
    background-color: #333531;
    color: #fff; 
}

QPushButton#price {
    background-color: #333531;
    color: #fff;

}
QPushButton#fili {
    background-color: #333531;
    color: #fff;

}

QPushButton#lists {
    background-color: #333531;
    color: #fff;

}
QPushButton#rename {
    background-color: #333531;
    color: #fff;

}

QTextBrowser {    
    text-align: center;    
    color: white;
    border: 1px solid #0C0F0A;
    background-color: #404040;
}

QMessageBox#akoun QLabel {
    color: #fff;
    font-size: 20px;
}

QMessageBox#akoun QLineEdit {
    color: #fff;
    font-size: 28px;
    background-color: #222;
    border: 2px solid #ddd;
    border-radius: 5px;
}

QMessageBox#akoun QAbstractButton {
    background-color: #FFFFFF;
    color: #000;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
}

